<ion-view view-title="Counterplan Round Report">
    <ion-content ng-controller="rr-Ctrl" class="padding">
      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Voted Aff On:</h1>
        </ion-item>
        <ion-item>
          <ion-radio ng-model="judgetwo.rfd" name="t_rfd" value="perm">Perm</ion-radio>
          <ion-radio ng-model="judgetwo.rfd" name="t_rfd" value="theory">Theory</ion-radio>
          <ion-radio ng-model="judgetwo.rfd" name="t_rfd" value="solvency_def">Solvency Deficit</ion-radio>
          <ion-radio ng-model="judgetwo.rfd" name="t_rfd" value="net_ben_offense">Offense on Net Benefit</ion-radio>
          <ion-radio ng-model="judgetwo.rfd" name="t_rfd" value="net_ben_links">Links to Net Benefit</ion-radio>
          <ion-radio ng-model="judgetwo.rfd" name="t_rfd" value="condo">Conditionality</ion-radio>
        </ion-item>
      </ion-list>
      <button ng-click="rrSubmit(judgetwo)" class="button button-block button-positive">
        Submit
      </button>
  </ion-content>
</ion-view>
