<ion-view view-title="Topicality Round Report">
    <ion-content ng-controller="rr-Ctrl" class="padding">
      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Voted Aff On:</h1>
        </ion-item>
        <ion-item>
          <ion-radio ng-model="judgetwo.rfd" name="t_rfd" value="we_meet">We Meet</ion-radio>
          <ion-radio ng-model="judgetwo.rfd" name="t_rfd" value="aff_flex">Aff Flex Outweighs Limits</ion-radio>
          <ion-radio ng-model="judgetwo.rfd" name="t_rfd" value="reasonability">Reasonability</ion-radio>
          <ion-radio ng-model="judgetwo.rfd" name="t_rfd" value="condo">Conditionality</ion-radio>
        </ion-item>
      </ion-list>
      <button ng-click="rrSubmit(judgetwo)" class="button button-block button-positive">
        Submit
      </button>
  </ion-content>
</ion-view>
