<ion-view view-title="Judge Report">
  <ion-content class="padding" ng-controller="searchresultsCtrl">
    <ion-list>
      <ion-item class="bar bar-header bar-dark">
        <h1 class="title">Judge Name: {{first_name}} {{last_name}} </h1>
      </ion-item>
      <ion-item>
        <h3>Number of Reviews: {{numReviews}}</h3>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col">
            <div class="text-center">
                <h2 style="text-align: center;">Overall Rating: {{rating}}/10</h2>
                <h2 style="text-align: center;">Speed Preference: {{speed}}/10</h2>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item class="bar bar-header bar-calm">
        <h1 class="title">Win Rates:</h1>
      </ion-item>
      <ion-item>
        <h3>Pro: {{aff_wr}}%</h3>
        <h3>Con: {{neg_wr}}% </h3>
      </ion-item>
      <ion-item class="bar bar-header bar-royal">
        <h1 class="title">Extinction scenarios?</h1>
      </ion-item>
      <ion-item>
        <h3 class="item-text-wrap">Should you read extinction scenarios?</h3>
        <h3>Yes: {{extinction.yes}}%</h3>
        <h3>No: {{extinction.no}}%</h3>
        <h3>Not Sure: {{extinction.idk}}%</h3>
      </ion-item>
      <ion-item class="bar bar-header bar-royal">
        <h1 class="title">Kritiks?</h1>
      </ion-item>
      <ion-item>
        <h3 class="item-text-wrap">Should you read kritiks?</h3>
        <h3>Yes: {{kritiks.yes}}%</h3>
        <h3>No: {{kritiks.no}}%</h3>
        <h3>Not Sure: {{kritiks.idk}}%</h3>
      </ion-item>
      <ion-item class="bar bar-header bar-royal">
        <h1 class="title">Theory?</h1>
      </ion-item>
      <ion-item>
        <h3 class="item-text-wrap">Should you read theory?</h3>
        <h3>Yes: {{theory.yes}}%</h3>
        <h3>No: {{theory.no}}%</h3>
        <h3>Not Sure: {{theory.idk}}%</h3>
      </ion-item>
      <ion-item class="bar bar-header bar-royal">
        <h1 class="title">Rebuttals?</h1>
      </ion-item>
      <ion-item>
        <h3 class="item-text-wrap">Should the second rebuttal cover the first?</h3>
        <h3>Yes: {{rebuttal.yes}}%</h3>
        <h3>No: {{rebuttal.no}}%</h3>
        <h3>Not Sure: {{rebuttal.idk}}%</h3>
      </ion-item>
      <ion-item class="bar bar-header bar-balanced">
        <h1 class="title">Judge Philosophy:</h1>
      </ion-item>
      <ion-item class="item item-text-wrap">
        <p style="white-space: pre-wrap;">{{phil}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
