<ion-view view-title="Search for a Judge">
  <ion-content controller="searchCtrl" class="padding">
    <ion-list>
      <ion-list>
        <ion-item class="bar bar-header bar-positive">
          <h1 class="title">Judge Name:</h1>
        </ion-item>
        <ion-item>
          <input type="text" ng-model="finder.f" placeholder="First Name">
        </ion-item>
        <ion-item>
          <input type="text" ng-model="finder.l" placeholder="Last Name">
        </ion-item>
      </ion-list>
        <button ng-click="searchNext(finder)" class="button button-block button-royal">
            Search
        </button>
    </ion-list>
  </ion-content>
</ion-view>
