<ion-view view-title="Add Round Report">
    <ion-content ng-controller="submitRoundReportCtrl" class="padding">

      <ion-list>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Judge Name:</h1>
        </ion-item>
        <ion-item>
          <input type="text" ng-model="judge.firstName" placeholder="First Name">
        </ion-item>
        <ion-item>
          <input type="text" ng-model="judge.lastName" placeholder="Last Name">
        </ion-item>
      </ion-list>

      <ion-list>
          <ion-item class="bar bar-header bar-royal">
            <h1 class="title">Overall Rating:</h1>
          </ion-item>
          <div class="list">
            <div class="item range range-positive">
              <input type="range" min="0" max="10" ng-model="judge.rating">
              <ion-label> {{judge.rating}} out of 10</ion-label>
            </div>
          </div>
      </ion-list>

      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Winner:</h1>
        </ion-item>
        <ion-item>
          <ion-radio ng-model="judge.winner" name="win" value="pro">1st Speaking Team</ion-radio>
          <ion-radio ng-model="judge.winner" name="win" value="con">2nd Speaking Team</ion-radio>
        </ion-item>
      </ion-list>

      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Extinction Scenarios?</h1>
        </ion-item>
        <ion-item>
          <h3 class="item-text-wrap">Does the judge like extinction scenarios?</h3>
          <h3 class="item-text-wrap"></h3>
          <ion-radio ng-model="judge.extinction" name="ext" value="yes">Yes</ion-radio>
          <ion-radio ng-model="judge.extinction" name="ext" value="no">No</ion-radio>
          <ion-radio ng-model="judge.extinction" name="ext" value="idk">I don't know</ion-radio>
        </ion-item>
      </ion-list>

      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Kritiks?</h1>
        </ion-item>
        <ion-item>
          <h3 class="item-text-wrap">Does the judge like kritiks?</h3>
          <h3 class="item-text-wrap"></h3>
          <ion-radio ng-model="judge.kritiks" name="kritik" value="yes">Yes</ion-radio>
          <ion-radio ng-model="judge.kritiks" name="kritik" value="no">No</ion-radio>
          <ion-radio ng-model="judge.kritiks" name="kritik" value="idk">I don't know</ion-radio>
        </ion-item>
      </ion-list>

      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Theory?</h1>
        </ion-item>
        <ion-item>
          <h3 class="item-text-wrap">Does the judge like theory?</h3>
          <h3 class="item-text-wrap"></h3>
          <ion-radio ng-model="judge.theory" name="theory" value="yes">Yes</ion-radio>
          <ion-radio ng-model="judge.theory" name="theory" value="no">No</ion-radio>
          <ion-radio ng-model="judge.theory" name="theory" value="idk">I don't know</ion-radio>
        </ion-item>
      </ion-list>

      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Rebuttals?</h1>
        </ion-item>
        <ion-item>
          <h3 class="item-text-wrap">Should the 2nd rebuttal cover the 1st?</h3>
          <h3 class="item-text-wrap"></h3>
          <ion-radio ng-model="judge.rebuttal" name="rebuttal" value="yes">Yes</ion-radio>
          <ion-radio ng-model="judge.rebuttal" name="rebuttal" value="no">No</ion-radio>
          <ion-radio ng-model="judge.rebuttal" name="rebuttal" value="idk">I don't know</ion-radio>
        </ion-item>
      </ion-list>

      <ion-list>
          <ion-item class="bar bar-header bar-royal">
            <h1 class="title">Speed Preference:</h1>
          </ion-item>
          <div class="list">
            <div class="item range range-positive">
              <input type="range" min="0" max="10" ng-model="judge.speed">
              <ion-label> {{judge.speed}} out of 10</ion-label>
            </div>
          </div>
      </ion-list>

      <ion-list>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Comments:</h1>
        </ion-item>
        <ion-item>
          <textarea ng-model="judge.comments" rows="6" placeholder="(Optional)"></textarea>
        </ion-item>

      <button ng-click="rrNext(judge)" class="button button-block button-positive">
        Submit
      </button>

    </ion-content>
</ion-view>
