<ion-view view-title="Add Round Report">
    <ion-content ng-controller="submitRoundReportCtrl" class="padding">

      <ion-list>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Judge Name:</h1>
        </ion-item>
        <ion-item>
          <input type="text" ng-model="judge.firstName" placeholder="First Name">
        </ion-item>
        <ion-item>
          <input type="text" ng-model="judge.lastName" placeholder="Last Name">
        </ion-item>
      </ion-list>

      <ion-list>
          <ion-item class="bar bar-header bar-royal">
            <h1 class="title">Speed Preference:</h1>
          </ion-item>
          <div class="list">
            <div class="item range range-positive">
              <input type="range" min="0" max="10" ng-model="judge.speedPref">
              <ion-label> {{judge.speedPref}} out of 10</ion-label>
            </div>
          </div>
      </ion-list>

      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Affirmative Type:</h1>
        </ion-item>
        <ion-item>
          <ion-radio ng-model="judge.aff_type" name="aff_group" value="aff_trad">Traditional Aff</ion-radio>
          <ion-radio ng-model="judge.aff_type" name="aff_group" value="aff_k">Kritikal Aff</ion-radio>
        </ion-item>
      </ion-list>

      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">2NR Choice:</h1>
        </ion-item>
        <ion-item>
          <ion-radio ng-model="judge.neg_choice" name="2nr_group" value="t">Topicality</ion-radio>
          <ion-radio ng-model="judge.neg_choice" name="2nr_group" value="k">Kritik</ion-radio>
          <ion-radio ng-model="judge.neg_choice" name="2nr_group" value="cp">Counterplan</ion-radio>
          <ion-radio ng-model="judge.neg_choice" name="2nr_group" value="da">Disadvantage</ion-radio>
          <ion-radio ng-model="judge.neg_choice" name="2nr_group" value="it">Impact Turn</ion-radio>
        </ion-item>
      </ion-list>

      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Winner:</h1>
        </ion-item>
        <ion-item>
          <ion-radio ng-model="judge.winner" name="decision_group" value="aff_win">Affirmative</ion-radio>
          <ion-radio ng-model="judge.winner" name="decision_group" value="neg_win">Negative</ion-radio>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Comments:</h1>
        </ion-item>
        <ion-item>
          <textarea ng-model="judge.comments" rows="6" placeholder="(Optional)"></textarea>
        </ion-item>

      <button ng-click="rrNext(judge)" class="button button-block button-positive">
        Next
      </button>

    </ion-content>
</ion-view>
